*{
    margin: 0;
    padding: 0;
}

/* Ensure content occupies the entire screen */
body {
    min-height: 100vh;
    background-image: url(assets/laptop.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

/* List item to define height for the parent */
nav li {
    height: 50px;
}

nav a {
    height: 100%; /* height to match list item's height */
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: background-color 0.1s ease-in-out;
}

nav a:hover {
    background-color: #f0f0f0;
}

/* Active State */
nav a.active {
    background-color: #e0e0e0;
    font-weight: bold;
}

nav a:focus {
    background-color: #e0e0e0;
    font-weight: 600;
}

nav li:first-child {
    margin-right: auto;
}

/* Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 600px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}